/* AboutMe.css */

.about-me {
  padding: 20px;
  background-color: #333;
}

.about-me h2 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.about-me p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.about-details-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.about-detail {
  font-size: 16px;
  margin-bottom: 10px;
}

.about-detail strong {
  font-weight: bold;
}

.cv-button button {
  background-color: black;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cv-button button:hover {
  background-color: rgb(58, 57, 57);
}
